/*generics*/
	html{
		overflow: hidden !important; /*hide the master overflow*/
	}

	body{
		font-family: Roboto;
	}

	.back-plate{
		background: #63b7dd;
		width: 100%;
		background-image: linear-gradient(90deg, #3b4bda, #0099ff);
	}

/*calendar*/
	.my-event {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		border-radius: 2px;
		background-color: #1867c0;
		color: #ffffff;
		border: 1px solid #1867c0;
		font-size: 12px;
		padding: 3px;
		cursor: pointer;
		margin-bottom: 1px;
		left: 4px;
		margin-right: 8px;
		position: relative;
	}
		
		.my-event.with-time {
		position: absolute;
		right: 4px;
		margin-right: 0px;
	}

/*modals*/
	.modal-mask{
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		transition: opacity .3s ease;
	}

	.modal-container{
		width: 400px;/*master width of modals*/
		margin: 40px auto 0;
		padding: 20px 30px;
		background-color: white;
		border-radius: 2px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
		transition: all .3s ease;
		font-family: Helvetica, Arial, sans-serif;
	}

	.fade-enter, .fade-leave-to{
		opacity: 0;
	}

/*icons*/
	.dizagara-icon-gray{
		color: #6b6b6b
	}

	.dizagara-margin-right{
		margin-right: 3px;
	}
	.dizagara-margin-left{
		margin-left: 3px;
	}

/*buttons*/
	.dizagara-banner-button {
		background-color: #27579c !important;
		color:#b5fffd !important;
		width: 175px;
		margin: 5px;
		border-radius: 5px !important;
	}

	.dizagara-home-button {
		background-color: #27579c !important;
		color:#b5fffd !important;
		width: 50px;
		margin: 5px;
		border-radius: 5px !important;
	}

	.dizagara-button-width-medium {
		width: 200px;
	}

	.dizagara-button-width-short {
		width: 100px;
	}

	.dizagara-button-width-long {
		width: 300px;
	}

	.dizagara-button-blue{
		border: 1px solid #123464 !important;
		background-color: #1975d2 !important;
		color:white !important;
	}
	
	.dizagara-button-cyan{
		border: 1px solid #11458f !important;
		background-color: #2c96ff !important;
		color:white !important;
	}

	.dizagara-button-red{
		border: 1px solid #912020 !important;
		background-color: #ff5252 !important;
		color:white !important;	
	}

	.dizagara-button-orange{
		border: 1px solid #d8431d !important;
		background-color: #ff7b00 !important;
		color:white !important;
	}

	.dizagara-button-green{
		border: 1px solid #206412 !important;
		background-color: #26b558 !important;
		color:white !important;
	}

/*calendar*/
	.v-event-draggable {
		padding-left: 6px;
	}
		
	.v-event-timed {
		user-select: none;
		-webkit-user-select: none;
	}
		
	.v-event-drag-bottom {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 4px;
		height: 4px;
		cursor: ns-resize;
	}
/*now cursor*/
	.v-current-time {
		height: 2px;
		background-color: #ea4335;
		position: absolute;
		left: -1px;
		right: 0;
		pointer-events: none;
	}	

	.v-current-time::before{
		content: '';
		position: absolute;
		background-color: #ea4335;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		margin-top: -5px;
		margin-left: -6.5px;
	  }

/*
	.v-current-time::before{
		content: '';
		position: absolute;
		background-color: #ea4335;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		margin-top: -5px;
		margin-left: -6.5px;
	  }
*/
/*printing*/
	@media print {
		.no-print {
			visibility: hidden;
		}
	}


/*elements*/
.dizagara-section{
	box-shadow: none; 
	padding: 10px; 
	border-radius: 5px;
	background-color: white; 
	border: 4px dotted #a2c2db;
}

.dizagara-panel-header{
	font-weight: bold;
	color: #427197;
	margin-bottom: -10px;
	padding: 5px;
}

.dizagara-sub-header{
	color: white; 
	background-color: #192c45 !important;

}

.dizagara-sub-title {
	padding-top: 20px !important;
	margin-left: 20px;
	margin-top: 20px;
}

.dizagara-panel-body{
	border: 1px solid #91b4c9 !important;
}

.dizagara-panel-height-01{
	height: 250px;
}

.dizagara-background-01{
	background-color: #a0deff;
}

.dizagara-outline-blue {
	border: 1px solid #23426b !important;
}

.dizagara-outline-red {
	border: 1px solid #6b2323 !important;
}

.dizagara-round-small{
	height: 20px !important;
	width: 20px !important;
}

.dizagara-round-medium{
	height: 30px !important;
	width: 30px !important;
}
