/*generics*/
	html{
		overflow: hidden !important; /*hide the master overflow*/
	}

	body{
		font-family: Roboto;
	}

	.back-plate{
		background: #63b7dd;
		height: 100%;
		background-image: linear-gradient(90deg, #3b4bda, #0099ff);
	}

/*calendar*/
	.my-event {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		border-radius: 2px;
		background-color: #1867c0;
		color: #ffffff;
		border: 1px solid #1867c0;
		font-size: 12px;
		padding: 3px;
		cursor: pointer;
		margin-bottom: 1px;
		left: 4px;
		margin-right: 8px;
		position: relative;
	}
		
		.my-event.with-time {
		position: absolute;
		right: 4px;
		margin-right: 0px;
	}

/*modals*/
	.modal-mask{
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		transition: opacity .3s ease;
	}

	.modal-container{
		width: 400px;/*master width of modals*/
		margin: 40px auto 0;
		padding: 20px 30px;
		background-color: white;
		border-radius: 2px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
		transition: all .3s ease;
		font-family: Helvetica, Arial, sans-serif;
	}

	.fade-enter, .fade-leave-to{
		opacity: 0;
	}

/*panels*/
	.dizagara-panel-header{
		color: #427197;
		font-weight: bold;
		background-color: #e2f3ff;
		border-bottom: 1px solid #8096a3;
		padding: 5px;
	}

	.dizagara-panel-body{
		border: 1px solid #8096a3 !important;
	}

	.dizagara-panel-height-01{
		height: 250px;
	}

/*cards*/
/*auxiliaries*/



/*icons*/
	.dizagara-icon-gray{
		color: #6b6b6b
	}

	.dizagara-icon-right{
		margin-right: 3px;
	}

/*textboxes*/

/*buttons*/
.dizagara-outline-blue{
	border: 1px solid #194258 !important;
}

	.dizagara-banner-button {
		background-color: #27579c !important;
		color:#b5fffd !important;
		width: 200px;
		margin: 5px;
		border-radius: 5px !important;
	}

	.dizagara-button-width-01 {
		width: 200px;
	}

	.dizagara-button-blue{
		border: 1px solid #123464 !important;
		background-color: #1975d2 !important;
		color:white !important;
	}

	.dizagara-button-red{
		border: 1px solid #912020 !important;
		background-color: #ff5252 !important;
		color:white !important;	
	}

